.vs/
*.VC.db
*.VC.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug*/
[Rr]elease*/
x64/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.obj
*.pdb
*.idb
*.ipch
*.iobj
*.ipdb
*.exe
*.dll
*.lib
*.out
*.log
*.ncb
*.sbr
*.tlh
*.tli
*.bak
*.orig
*.tmp